

/* Media query for screens with max width 480px (for mobile devices) */
@media (max-width: 530px) {
    .navbar .left {
        font-size: 35px;
    }
    nav{
        width: 1475px;
    }
    .firstsection{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 20px 300px;
    }
    .rightsection img{
        width:180px;
        height: 180px;
        margin-top: 200px;
        margin-right: 30px;
        animation: none;
    }
    .secondsection{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .navbar .right ul li {
        margin-left: 0;
        text-align: left;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }
    .navbar .right ul li a {
        padding: 10px 20px;
        display: block;
    }
    .secondimg{
        padding-top: 30px;
    }
    .aboutme{
        margin-top: 200px;
        margin-left: 300px;
    }
    .intro{
        margin-left: 300px;
    }
    .aboutme h1{
        padding-top: 40px;
    }
    .thirdsub{
        margin-left: 490px;
        width: max-content;
    }
    .skills1 div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .skills2 div{
        margin-bottom: 40px;
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .thirdsection .skills1, .thirdsection .skills2 {
        flex-direction: column;
        align-items: center;
    }
    .project{
        display: flex;
        padding-left: 50px;
        justify-content: center;
        flex-direction: column;
        width: min-content;
    }
    .p1,.p2,.p3,.p4,.p5,.p6{
        width: 100%;
       margin-top: 10px;
       margin-bottom: 20px;
       margin-left: 200px;
       overflow:scroll;
       border-radius: 0;
    }
    .project h1{
        width: 100%;
        margin-left: 230px;
    }
    .education{
        width: max-content;
        margin-left: 400px;
        display: flex;
        flex-direction: column-reverse;
    }
    .hedu{
        font-size: 48px;
        margin-left: 500px;
    }
    .eduimg{
        margin-bottom: 40px;
        padding-bottom: 20px;
        margin-left: 100px;
    }
    .intermediate,.graduation{
        text-align: center;
    }
    .intermediate{
        font-size: 29px;
    }
    .graduation h2{
        font-size: 29px;
    }
    .graduation p{
        font-size: 30px;
    }
    .hobbies{
        margin-left: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .hoblist ul{
        list-style: none;
        padding-left: 65px;
    }
    .hoblist h2{
        padding-left: 65px;
    }
    .hobimg{
        padding-left: 65px;
        padding-top: 30px;
    }
    .resumeh{
         font-size: 29px;
         margin-left: 250px;
    }
    .resumeh h1{
         margin-left: 380px;
    }
    .container{
        width:100%;
        font-size: 29px;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .resumeh a{
        margin-left: 70px;
    }
    .contact h1{
        width:max-content;
        margin-top: 270px;
        margin-left: 550px;
    }
    .para{
        padding-left: 45px;
        padding-bottom: 30px;
        text-align: center;
        width:450px;
        line-height: 35px;
        font-size: 29px;
    }
    .resume h2{
        padding-top: 40px;
    }
    .name,.email{
        width: 300px;
        height: 40px;
        margin-left: 500px;
        padding: 0 10px;
    }
    .text{
        margin-left: 500px;
    }
    .submit{
        padding: 0 0;
        margin-left: 500px;
        width: 100px;
        height: 30px;
    }
    footer{
        width: 1470px;
        margin-top: 100px;
        height: 200px;
    }
    footer ul li {
        padding: 30px;
    }
    footer p{
        padding-left: 0;
        text-align: center;
    }
}
@media (min-width:535px) and (max-width:940px){
    
    body{
         overflow:visible;
    }
    .header{
        width:1080px;
    }
    nav ul{
        font-size: 30px;
    }
    .firstsection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 500px;
        text-align: center;
    }

    .aboutme p{
        width: 600px;
       height: 400px;
       line-height: 45px;
       padding-top: 39px;
    }
    .aboutme h1{
        font-size: 65px;
        padding-bottom: 45px;
    }
    .secondsection {
        width: 1080px;
        height: 800px;
        font-size: 34px;
        line-height: 30px;
        margin: 350px 400px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .secondsection .aboutme {
        margin-top: 470px;
    }
    .secondsection .intro{
        margin-top: 10px;
        flex-direction: column-reverse;
    }
    .thirdsub{
        margin-left: 500px;
    }
    .thirdsub h1{
        font-size: 45px;
        padding-bottom: 35px;
    }
    .three{
        font-size: 35px;
        margin-right: 30px;
        width: 500px;
    }
    .skills1 div{
        margin-bottom: 50px;
    }
    .skills2 div{
        margin-bottom: 50px;
    }

    .thirdsection .skills1, .thirdsection .skills2 {
        flex-direction: column;
        align-items: center;
        margin-left: 150px;
    }
    .project h1{
        margin-left: 450px;
        font-size: 55px;
    }

    .project .p1, .project .p2, .project .p3, .project .p4, .project .p5, .project .p6 {
        margin-bottom: 40px;
        text-align: center;
        height:100%;
        margin-left: 10px;
        overflow: scroll;
        margin-left: 230px;
    }
    .hedu{
        font-size: 55px;
        margin-left: 380px;
    }
    .eduimg{
        margin-right: 300px;
    }
    .education{
        margin-left: 900px;
        flex-direction: column;
        align-items: center;
    }  
    .intermediate img , .graduation img{
        margin-left: 170px;
        width: 100px;
        height: 100px;
    }
    .intermediate h2,.graduation h2{
        font-size: 50px;
        width: 1080px;
    }
    .intermediate p,.graduation {
        font-size: 40px;
        padding-bottom: 40px;
    }
    .eduimg{
        margin-top: 70px;
    }
    .hobbies{
        flex-direction: column-reverse;
        margin-left: 450px;
    }
    .hoblist{
        font-size: 45px;
        line-height: 70px;
        padding-top: 30px;
    }
    .hobimg{
        margin-top: 50px;
    }
    .resumeh h1{
        font-size: 55px;
        margin-left: 450px;
    }
    .para{
        font-size: 40px;
        margin-left: 200px;
        line-height: 45px;
        width: 800px;
    }
    .container{
        flex-direction: column-reverse;
        margin-left: 185px;
    }
    .container h2{
        margin-left: 290px;
        padding-top: 100px;
        font-size: 46px;
        width: 300px;
    }
    .container .button{
        width:230px;
        height: 60px;
        font-size: 16px;
        padding-top: 20px;
       margin-left: 300px;
    }
    .contact h1{
        margin-top: 800px;
        margin-left: 400px;
        font-size: 50px;
    }
    .contact input ,.contact textarea {
       width: 400px;
       margin-left: 450px;
       margin-bottom: 30px;
    }
    .contact button{
        width:100px;
        height:40px;
       margin-top: 30px;
       margin-left: 450px;
    }
    footer{
        width: 1515px;
        margin-top: 60px;
        height: 100%;
    }
    footer ul{
        padding-top: 40px;
    }
    footer ul li a i{
        width:100px;
        height: 150px;
    }
    footer p{
        font-size: 30px;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media (width:540px){
    .navbar{
        width:1480px;
    }
    .firstsection {
        flex-direction: row;
        justify-content: center;
    }
    .secondsection {
        margin: 350px 400px;
    }
    .thirdsub h1 {
        font-size: 45px;
        padding-bottom: 35px;
    }
    .three{
        margin-right: 30px;
    }
    .thirdsection .skills1, .thirdsection .skills2 {
        flex-direction: column;
        align-items: center;
        margin-left: 200px;
    }
    .hobbies {
        flex-direction: column-reverse;
        margin-left: 580px;
    }
    .resumeh h1{
        margin-left: 650px;
    }
    .para {
        font-size: 40px;
        margin-left: 300px;
        line-height: 45px;
        width: 550px;
    }
    .contact h1{
        margin-left: 600px;
        width: 300px;
    }
    .container h2 {
        margin-left: 300px;
        padding-top: 100px;
        font-size: 46px;
        width: 90%;
    }
    .container .button {
        width: 230px;
        height: 60px;
        font-size: 16px;
        padding-top: 20px;
        margin-left: 250px;
    }
    .contact input, .contact textarea {
        width: 400px;
        margin-left: 550px;
        margin-bottom: 30px;
    }
    .contact button{
        margin-left: 550px;
    }
    footer{
        width:1440px;
    }
    footer p {
        font-size: 30px;
       text-align: center;
        padding-bottom: 90px;
    }
}
@media (width:1024px){
    .navbar{
        width: 1515px;
    }
    .thirdsub{
        margin-left: 400px;
        width: 800px;
    }
    .education{
        justify-content: space-between;
        margin-left: 400px;
    }
    .hedu{
        margin-left: 300px;
    }
    .hobbies{
        margin-left: 400px;
    }
    .contact{
        margin-left: 400px
    }
    .contact input, .contact textarea {
        margin-left: 200px;
    }
    footer p {
        text-align: center;
       
    }
    footer{
        width: 1515px;
    }
}
@media(min-width:1100px) and (max-width:1400px){
    *{
        box-sizing: border-box;
        justify-content: center;
    }
    .navbar{
        width:1515px;
    }
    .thirdsub,.education{
        margin-left: 400px;
    }
    .p1,.p2,.p3,.p4,.p5,.p6{
        width: 700px;
    } 
    .p2,.p4,.p6{
        margin-left: 470px;
     }
    .project{
        margin-left: 30px;
    }
    .container{
        margin-left: 100px;
     }
    footer{
        width: 1515px;
    }
    footer p{
        padding-left: 600px;
    
    }
}